@import '@/assets/styles/variables.css';

.weeklyTrends {
	margin-bottom: 32px;
	padding-inline: 20px;
}

.link {
	color: var(--color-accent);
}

.cardsList {
	display: flex;
}

.cardItem {
	flex-basis: 100%;
}

@media screen and (min-width: 768px) {
	.weeklyTrends {
		margin-bottom: 44px;
		padding-inline: 32px;
	}

	.cardsList {
		column-gap: 16px;
	}

	.cardItem {
		flex-basis: calc((100% - 16px * 2) / 3);
	}
}

@media screen and (min-width: 1280px) {
	.weeklyTrends {
		margin-bottom: 60px;
	}

	.cardsList {
		column-gap: 15px;
	}

	.cardItem {
		flex-basis: calc((100% - 15px * 2) / 3);
	}
}
