@import '@/assets/styles/variables.css';

.navList {
	display: flex;
	column-gap: 32px;
	align-items: center;
}

.navItem {
	color: var(--color-gray);
	font-size: 14px;
	font-weight: 500;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	transition: color 250ms;
}

.active,
.navItem:hover {
	color: var(--color-accent);
}

@media screen and (min-width: 1280px) {
	.navList {
		column-gap: 40px;
	}
}
