@import '@/assets/styles/variables.css';

.container {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.posterContainer {
	min-width: 248px;
	height: 315px;
	border-radius: 5px;
	overflow: hidden;
	/* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5); */
}

.poster {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top center;
}

.infoContainer {
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	line-height: calc(16 / 14);
}

.title {
	margin-bottom: 29px;
	color: var(--color-primary);
	font-size: 20px;
	font-weight: 500;
	line-height: calc(23 / 20);
}

.detailsWrapper {
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	margin-bottom: 20px;
}

.parameterName {
	min-width: 90px;
	color: var(--color-gray);
}

.parameterName p:not(:last-child),
.data p:not(:last-child) {
	margin-bottom: 12px;
}

.releaseDate {
	color: var(--color-accent);
}

.data {
	color: var(--color-secondary);
	text-align: right;
}

.votes {
	display: inline-block;
	min-width: 36px;
	padding: 1px 4px;
	border-radius: 5px;
	background-color: var(--color-secondary);
	color: var(--bg-color);
	font-size: 12px;
	font-weight: 500;
	line-height: calc(14 / 12);
	text-align: center;
}

.aboutTitle {
	margin-bottom: 12px;
	color: var(--color-gray);
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-transform: uppercase;
}

.aboutText {
	margin-bottom: 15px;
	color: var(--color-secondary);
	font-size: 12px;
	font-weight: 400;
	line-height: calc(20 / 12);
}

.btnWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.container {
		flex-direction: row;
		gap: 16px;
		width: 628px;
	}

	.posterContainer {
		min-width: 294px;
		height: 416px;
	}

	.infoContainer {
		max-height: 416px;
		overflow-y: auto;
	}

	.title {
		margin-bottom: 26px;
		font-size: 24px;
		font-weight: 500;
		line-height: calc(28 / 24);
	}

	.detailsWrapper {
		flex-direction: row;
		column-gap: 0;
	}

	.aboutTitle {
		margin-bottom: 16px;
	}

	.aboutText {
		margin-bottom: 24px;
	}

	.btnWrapper {
		flex-direction: row;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		gap: 20px;
		width: 770px;
	}

	.posterContainer {
		min-width: 348px;
		height: 523px;
	}

	.infoContainer {
		max-height: 523px;
	}
}
