@import '@/assets/styles/variables.css';

.hero {
	width: 100%;
	height: 380px;
	margin-bottom: 40px;
	padding: 40px 20px 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
}

.container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	justify-content: space-between;
	height: 100%;
}

.textWrapper {
	width: 230px;
	height: 250px;
	overflow-y: auto;
}

.title,
.titleStars {
	margin-bottom: 8px;
	color: var(--hero-title);
	font-size: 32px;
	font-weight: 700;
	line-height: calc(38 / 32);
}

.titleStars {
	margin-bottom: 12px;
}

.starsWrapper {
	margin-bottom: 20px;
}

.stars {
	width: 96px;
	height: 16px;
}

.text {
	color: var(--hero-text);
	font-size: 14px;
	line-height: calc(16 / 14);
	text-overflow: clip;
}

.btnWrapper {
	display: flex;
	column-gap: 8px;
}

@media screen and (min-width: 768px) {
	.hero {
		margin-bottom: 52px;
		padding: 62px 32px 32px 32px;
		background-size: contain;
		background-position-x: right;
	}

	.container {
		row-gap: 32px;
	}

	.textWrapper {
		width: 50%;
		height: 210px;
	}

	.title,
	.titleStars {
		font-size: 44px;
		line-height: calc(52 / 44);
	}

	.stars {
		width: 116px;
		height: 20px;
	}
}

@media screen and (min-width: 1280px) {
	.hero {
		height: 720px;
		margin-bottom: 80px;
		padding: 170px 785px 32px 32px;
	}

	.textWrapper {
		width: auto;
		height: 436px;
	}

	.title,
	.titleStars {
		font-size: 64px;
		line-height: calc(75 / 64);
	}

	.titleStars {
		margin-bottom: 16px;
	}

	.starsWrapper {
		margin-bottom: 28px;
	}

	.stars {
		width: 136px;
		height: 24px;
	}

	.text {
		font-size: 16px;
		line-height: calc(19 / 16);
	}

	.btnWrapper {
		column-gap: 14px;
	}
}
