@import '@/assets/styles/variables.css';

.layout {
	min-height: 100vh;
	background-color: var(--bg-color);
}

.main {
	margin-bottom: 40px;
	padding-top: 48px;
}

@media screen and (min-width: 768px) {
	.main {
		margin-bottom: 77px;
		padding-top: 60px;
	}
}

@media screen and (min-width: 1280px) {
	.main {
		width: 1280px;
		margin-inline: auto;
		margin-bottom: 100px;
	}
}
